# Arquivos de ambiente virtual
.venv/
venv/

# Cache e logs gerados pelo Python e pelo projeto
__pycache__/
cache/
logs/
*.log

# Arquivos de configuração sensíveis (NUNCA versionar!)
.env

# Arquivos gerados pelos relatórios (opcional, mas recomendado)
docs/*.html
docs/excel/

# Outros arquivos de sistema
.DS_Store
